@import url('https://fonts.googleapis.com/css2?family=Alata&family=Lobster+Two&display=swap');

body
{
    min-width: 200px !important;
}

.imgbox {
    display: grid;
    height: 100%;
}
.center-fit {
    max-width: 100%;
    max-height: 100vh;
    margin: auto;
    opacity: 30%;
}

.banner
{
    position: relative;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    padding: 250px 0 200px;
}

.navbar-brand
{
    font-family: 'Alata', cursive;
    font-size: 35px !important;
    color: white;
    padding-left: 1rem;
}

.navbar-dark
{
    color: white;
}

.nav-item
{
    text-align: right !important;
    font-size: 1.9vh !important;
    padding: 0 1rem 0 1rem !important;
}

.navbar-nav
{
    text-align: center;
    padding: 0 0 0 0;
}

.nav-item a {
    transition: 0.3s ease;
    color: white;
    font-size: 20px;
    text-decoration: none;
    padding: 18px 0;
    margin: 0 5px;
    font-size: 16px;
  }
  .nav-item a:hover {
    border-bottom: 2px solid white;
    padding: 15px 0; 
  }

  .collapse
  {
    justify-content: right !important;;
  }

  .navbar-collapse
  {
    justify-content: center;
  }

  .publication_heading
  {
    padding-top: 5%;
    padding-bottom: 5%;
    font-family: 'Arial';
    font-size: 4rem;
    color: white;
    text-align: center;
  }

.articles
{
    color: black;
    background-color: white;
    font-family: 'Arial';
    margin-top: 7%;
    margin-bottom: 7%;
    padding: 10px;
    font-size: 18px;
    list-style-type: none !important;
}

.journals
{
    margin-right: 7%;
    border-radius: 0px 5vh 5vh 0px !important;
}

.conferences
{
    margin-left: 7%;
    align-items: right;
    text-align: right;
    padding-right: 10%;
    border-radius: 5vh 0px 0px 5vh !important;
}

.journal_heading
{
    font-size: 2.5rem;
    padding-left: 30px;
    padding-top: 30px;
    margin-left: 10%;
    font-weight: bold;
    color: black;
    padding-bottom: 30px !important;
}

.article
{
    font-size: 18px;
    list-style-type: none !important;
    margin-left: 10%;
    color: black;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}



/* Wrapping each poster in the research section */
.post-container {
    margin-right: 10%;
    margin-left: 10%;
    overflow: auto;
    background-color: white;
    padding: 25px;
    border-radius: 2vh 0 2vh 0;
    margin-bottom: 5%;
}
.post-thumb {
    float: left
}
.post-thumb img {
    margin-top: 20px;
    display: block
}
.post-content {
    /* margin-left: 250px */
}
.post-title {
    font-weight: bold;
    font-size: 200%;
    padding-bottom: 20px;
}

.post-container li
{
    padding-bottom: 1%;
    padding-top: 1%;
}

.post-container p
{
    padding-top: 1%;
    padding-bottom: 1%;
}

.tbox
{
    padding-top: 20px;
    padding-left: 10%;
    margin: 10px;
    font-size: 20px;
    padding-bottom: 2%;
}

a
{
    text-decoration: none !important;
}

.wrapper {
    height: 10vh;
    /*This part is important for centering*/
    display: grid;
    place-items: center;
  }

#typewriter {
    text-align: center;
    width: 24ch;
    animation: typing 2s steps(29), blink 1s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
  }
  
  @keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }